$default-font: "PTSans", sans-serif

$yellow: #fcdb00
$grey: #313841
$dark-grey: #555555
$light-grey: #898989


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width

// Media breakpoints
$tablet: 959px
$phone: 700px
$phone-sm: 543px 